*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to left, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float:right;
    text-align: left;
}
.navbar-toggler
{
    outline:none !important;
}

/*--------- Banner section ----------*/
#banner
{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: #ffffff;
    padding-top: 5%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn
{
    width: 45px;
    margin: 20px;
}

#banner a
{
    color: #ffffff;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;

}

.Tung-img{
    margin-top: 25px;
    align-items: center;
}
.navbar-toggler i
{
    color: #fff;
    font-size: 25px !important;
}

/* h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
} */

/*--------Footer Section---------*/
#footer{
    position: relative; 
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}

.footer-img{
    transform: rotate(180deg);
}

#footer .container{

    min-height: 50vh;
}

.footer-img{
    width: 101%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box p i{
    margin-right: 5px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 100%;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/* -------------------Services Section------------------- */
#services{
    padding: 80px 0;
}
.services-img{
    width:100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.btn-center button{
    padding: 15px;
    margin: 30px 0;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.5s ease;
}
.services button:hover{
    transition: all 0.5s ease;
    border: 1px solid linear-gradient(to right, #a517ba, #5f1782);
    box-shadow: 0 0 15px 5px rgba();
}
#services .services:nth-child(n+4){
    display: none;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: cornflowerblue;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: cornflowerblue;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/* ------------------- About Us ------------------- */
#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left: 20px;
}

/* ------------------- Testimonials ------------------- */
#testimonials *{
    margin: 30px 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
#testimonials body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.testimonials{
    position: relative;
    max-width: 100%;
}
#testimonials .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    min-height: 350px;
    background: #fff;
    margin: 0 20px;
}
#testimonials .swiper-container-3d .swiper-slide-shadow-left,
#testimonials .swiper-container-3d .swiper-slide-shadow-right{
    background: none;
}
.testimonials .card{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 60px 40px;
    text-align: center;
    overflow: hidden;
    background: #f8f9fa;
    border: none;
}
.testimonials .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #a517ba, #5f1782);
    z-index: 1;
    transition: 0.5s;
}
.testimonials .card:hover .layer,
.testimonials .card:hover .content p,
.testimonials .card:hover .content p br{
    top: -30px;
    color: #fff;
}
.testimonials .card .content{
    background: #f8f9fa;
    
    
}
.testimonials .card .content p{
    position: relative;
    z-index: 2;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #000;
    transition: 0.5s;
    
}
.testimonials .card .content img{
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: 0px auto 10px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.testimonials .card .content p br{
    color: white;
    font-size: 14px;
    transition: 0.5s;
}


/* ------------------- Social Media ------------------- */
/*#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media h3{
    font-size:36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons{
    font-size: 50px;
    transition: 0.5s;
    background-color: linear-gradient(to right, #a517ba, #5f1782);
}
.social-icons a:hover i{
    transform: translateY(-10px);
}*/

/* ------------------- Team ------------------- */
#team *{
    box-sizing: border-box;
}

#team html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}
#team a{
    text-decoration: none;
    color: #000;
}
#team{
    padding: 10rem 0;
    background-color: #f8f9fa;;
}
#team .card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#team .card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}
#team .profile-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 5px;
    z-index: 1;
    border: 5px solid #a517ba;
}
#team .card h1{
    font-size: 2rem;
    color: #333;
    margin: 1.5rem 0;
}
#team .card .job-title{
    color: #777;
    font-size: 1.3rem;
    font-weight: 300;
}
#team .card .about{
    font-size: 1.3rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}
#team .card .btn{
    padding: .4rem 2.5rem;
    background-color: #a517ba;
    border-radius: 2rem;
    border: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.1rem;
    transition: all .5s;
}
#team .card .btn:hover{
    transform: translateY(-3px);
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, .2);
}
#team .card .btn:active{
    transform: translateY(0);
    box-shadow: none;
}
#team .card .social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
}
#team .card .social-media i{
    font-size: 1.5rem;
    transition: color .5s;
}
#team .card .social-media .fa-facebook-square{
    color: #3b5999;
}
#team .card .social-media .fa-instagram{
    color: #e6683c;
}
#team .card .social-media .fa-google-plus-square{
    color: #dd4b39;
}
#team .card .social-media .fa-facebook-square:hover,
#team .card .social-media .fa-instagram:hover,
#team .card .social-media .fa-google-plus-square:hover{
    color: #45e19f;
}
@media screen and (min-width: 700px){
    #team .card-wrapper{
        flex-direction: row;
        /*flex-wrap: wrap;*/
        justify-content: center;
        align-items: center;
    }
    #team .card{
        margin: 2rem;
        transition: opacity .5s;
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    #team .card:nth-child(1){
        animation: fadeIn .5s .5s backwards;
    }
    #team .card:nth-child(2){
        animation: fadeIn .5s 1s backwards;
    }
    #team .card:hover{
        transform: scale(1.05);
    }
}



/* ------------------- Admin ------------------- */
#admin body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
#admin header{
    position: fixed;
    background: #22242a;
    padding: 20px;
    padding-top: 0px;
    width: 100%;
    height: 60px;
}
.left-area h3{
    color: #fff;
    margin: -5px;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left-area span{
    color: #a517ba;
}
.logout_btn{
    padding: 5px;
    background: #a517ba;
    text-decoration: none;
    float: right;
    margin-top: -23px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout_btn:hover{
    background: #5f1782;
    color: #fff;
}
.sidebar{
    background: #2f323a;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .admin_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: #a517ba;
    color: #fff;
}
.sidebar i{
    padding-right: 10px;
}
label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 150px;
    top: 16px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #a517ba;
}
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
#check{
    display: none;
}
.content{
    margin-left: 250px;
    background: #cccccc no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}
#check:checked ~ .content{
    margin-left: 60px;
}
@media (max-width: 767px){
    .sidebar{
        left: -190px;
    }
    .sidebar a span{
        display: none;
    }
    .sidebar a{
        font-size: 20px;
        margin-left: 170px;
        width: 80px;
    }
    .content{
        margin-left: 60px;
    }
}
/* ------------------- Login ------------------- */
#login{
    background: linear-gradient(to right, #a517ba, #5f1782);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#login *{
    font-family: sans-serif;
    box-sizing: border-box;
}
#login form{
    width: 500px;
    border: 2px solid #cccccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}
#login h2{
    text-align: center;
    margin-bottom: 40px;
}
#login input{
    display: block;
    border: 2px solid #cccccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}
#login label{
    font-size: 18px;
    padding: 10px;
}
#login button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
#login button:hover{
    opacity: .7;
}
#login .error{
    background: #f2dede;
    color: #a94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}