*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float:right;
    text-align: left;
}
.navbar-toggler
{
    outline:none !important;
}
#banner
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding :0 !important;
    height: 500px;
    
}
#banner p
{
    color: #ffffff;
}

#banner a img
{
    height: 50px;
    width: 50px;
}
.navbar-toggler i
{
    color: #fff;
    font-size: 25px !important;
}

/* h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
} */

/*--------Footer Section---------*/
#footer{
    position: relative; 
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}

.footer-img{
    transform: rotate(180deg);
    color: linear-gradient(to right, #a517ba, #5f1782);
}

#footer .container{
    background-color: linear-gradient(to right, #a517ba, #5f1782); 
    min-height: 50vh;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box p i{
    margin-right: 5px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 100%;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

