h1 {
    text-align: center;
  }
h2{
  margin-left: -30px;
}
#box {
  border: 2px solid;
  padding: 10px;
  background-color:white;
}
img{
  margin-left: 50px;
}
#left-about p{
  margin-left: 40px;
  color: #878787;
}
#box img {
  width: 200px; 
  height: 180px;
  border-radius: 15px;

}
#box #content-header{
  margin-top: 50px;
}
.about {
  background-color: rgb(121, 121, 121);
  color: white;
}
#timeline-area{
    margin: 90px auto;
    width: 500px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
    /* background: linear-gradient(to right, #a517ba, #5f1782); */
}
#timeline-area  .timeline-area-detail{
    
    padding:  10px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}
.timeline-area-detail::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
    border: 3px solid #dddddd;
    position: absolute;
    top: 10px;
    left: -40px;
}
.timeline-area-detail::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #dddddd transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}
.timeline-area-detail h2{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.timeline-area-detail h3{
    margin: 0;
    font-family: sans-serif;
}
.timeline-area-detail h4{
    margin: 0;
    font-family: 'poppins';
}
